{% extends 'base.html' %}
{% block main %}
    <h4 class="card-title">List of persons</h4>
    {% if message %}
        <p class="alert alert-success">
            <strong>{{ message }}</strong>
        </p>
    {% endif %}
{% if latest_persons %}
    <ul>
        {% for person in latest_persons %}
            <li>
                <a href="/addressbook/{{ person.id }}/">
                    {{ person.person_text }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No persons are available right now.</p>
{% endif %}
{% endblock %}